<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/style.css" />
  <title>My Blog</title>
</head>

<body>
    <div class="main-panel">
	{% include "main-panel.html" %}
    </div>

    <div id="content">
	{% block content %}
	{% endblock %}
    </div>

    {% if time is defined %}
      <br><br><br>
      <div class="generation-time">Queried {{time}} seconds ago</div>
    {% endif %}

    <br><br><br>
    <div id="content" class="error" id="debug"><pre>{{debug}}</pre></div>

</body>

</html>
