<table>
  <tr>
    <td width="60%">
	<!-- Empty cell -->
    </td>
    <td width="15%">
	{% if user %}
	  {% if edit %}
	    <a href="{{page.getPath() if page}}">view</a> | 
	  {% else %}
	    <a href="/_edit{{page.getPath() if page}}">edit</a> | 
	  {% endif %}
	{% endif %}
	<a href="/_history{{page.getPath() if page}}">history</a>
    </td>
    <td width="10%">
	<!-- Empty cell -->
    </td>
    <td width="15%">
	{% if user %}
	  {{user}}(<a href="/logout">logout</a>)
        {% else %}
	  <a href="/login">login</a> | <a href="/signup">signup</a>
	{% endif %}
    </td>
  </tr>
</table>
